.dashboard {
  .card.bg-light-subtle .cta-section .btn {
    border: 1px solid #a7a1a1;
    background-color: $white;
  }
  .text-section {
    max-width: 60%;
  }
  .card-box {
    background-color: $white;
  }
  .form-control {
    border: 1px solid #a7a1a1;
    background-color: $white;
  }
  .badge-success {
    color: #fff;
    background-color: #28a745;
  }
  .badge-danger {
      color: #fff;
      background-color: #dc3545;
  }
  .badge {
      display: inline-block;
      padding: 0.25em 0.4em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25rem;
  }
  .ml-1 {
    margin-left: 0.25rem;
  }
}